* {
    font-family: 'Commissioner', sans-serif;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    outline: none;
    -moz-appearance: textfield;
}

.textPrimaryColor {
    color: hsl(176, 50%, 47%);
}

.bgPrimaryColor {
    background-color: hsl(176, 50%, 47%);
}

.hoverSecondaryColor:hover {
    background-color: hsl(176, 72%, 28%);
}

.headerBg {
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.top-1 {
    top: 300px;
}

.top-2 {
    top: 650px;
}

.top-3 {
    top: 950px;
}

.progressPercentage {
    width: 89.914%;
    font-size: 16px;
}

.progressBar-height {
    height: 25px;
}

#borderEnd-adjust {
    border-right: 0px;
}

@media screen and (max-width: 992px) {
    section {
        min-width: 90%;
    }

    #borderEnd-adjust {
    border-right: 1px solid #dee2e6;
    }

    .top-1 {
        top: 200px;
    }

    .top-2 {
        top: 700px;
    }

    .top-3 {
        top: 1120px;
    }

    .headerBg {
        background-position: bottom;
    }
}