* {
    font-family: 'Commissioner', sans-serif;
    outline: none;
}

.textPrimaryColor {
    color: hsl(176, 50%, 47%);
}

.bgPrimaryColor {
    background-color: hsl(176, 50%, 47%);
}

.hoverSecondaryColor:hover {
    background-color: hsl(176, 72%, 28%);
}

.headerBg {
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.main-container {
    position: absolute;
    left: 0;
    right: 0;
}

.top-300 {
    top: 300px;
}

.top-650 {
    top: 1000px;
}

.top-910 {
    top: 1500px;
}

.progressPercentage {
    width: 89.914%;
    font-size: 16px;
}

.progressBar-height {
    height: 25px;
}

.bold {
    font-weight: 700;
}

.bookmarkSize {
    width: 70px;
}

.minWidth-modal {
    min-width: 700px;
}

.radio-size {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Chrome, Safari, Opera */
    transform: scale(3);
}

circle {
    fill: aqua;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: hsl(176, 50%, 47%);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#borderEnd-adjust {
    border-right: 0px;
}


input[type=number] {
    outline: none;
    -moz-appearance: textfield;
  }

  @media only screen and (max-width: 992px) {
      section {
          min-width: 90%;
      }

      #borderEnd-adjust {
        border-right: 1px solid #dee2e6;
    }
      

  }